/* === Navbar === */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(12px);
  background: rgba(99, 138, 143, 0.371);
  border-bottom: 1px solid rgba(255,255,255,0.15);
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

/* Fade-in */
.fade-in-down {
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeDown 0.9s forwards;
}

@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Container */
.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar-logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #0077ff;
  cursor: pointer;
}

/* Nav Links */
.nav-links {
  display: flex;
  gap: 1.8rem;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding: 0.3rem 0.6rem;
  transition: 0.3s ease;
  border-radius: 8px;
}

.nav-links li a:hover,
.nav-links li a.active {
  background: #0077ff;
  color: #fff;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  border-radius: 3px;
  transition: 0.3s ease;
}

.hamburger.toggle span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.toggle span:nth-child(2) {
  opacity: 0;
}

.hamburger.toggle span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


@media (max-width: 1024px) {
  .navbar-logo { font-size: 1.1rem;}
}


/* Responsive */
@media (max-width: 768px) {
  .navbar-logo {font-size: 1rem;}
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    height: calc(100vh - 70px);
    width: 100%;
    flex-direction: column;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(12px);
    gap: 2.5rem;
    padding-top: 2rem;
    transition: 0.3s ease;
  }

  .nav-links.open {
    right: 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-links li a {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}